
body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010A;
  }

#Cabecera{
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
}

.titulo h1{
  text-shadow:2px 2px #02010a;
  display: inline;
}

#Cabecera nav{
  display: inline;
  text-align: right;
  margin-left: 40%;
}

#Cabecera nav ul{
list-style: none;
margin: 0;
padding: 0;
display: inline;


}
#Cabecera nav ul li{
  margin: 0px;
  display: inline;
}
.contenido{
  width: 900px;
  margin: auto;
}
.imagencentral{
  text-align: center;
  background-color: #82c3a6;
}

.izquierda{
  flex-grow: 1;
  text-align:center;

}
.izquierda img{
  transform: rotate(0deg);
  transition: transform, 1s;
  width: 100%;
}
.derecha{
  flex-grow: 1;
  text-align: center;

}

.derecha img{
  transform: translate(0px,0px);
  transition: transform,1s;
  width: 100%;
}
.imagenessecundarias{
  background-color: #d5c75f;
  display: flex;
  border: 1px;
}

.izquierda img:hover{
  transform: rotate(10deg);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
}

.derecha img:hover{
  transform: translate(20px,-5px);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d6c5;
  display: flex;
}
footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer div{
  flex-grow: 1;
}
footer ul li img{
  width: 20px;
}

img{
  box-shadow:2px 2px 2px #02010a;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
}

@media (max-width:900px) {
.contenido{
  width: 100%;
}
.titulo h1{
  width: 100%;
  text-align: center;

}

}
