#Cabecera{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  text-align: left;
  color: white;
  display: flex;
}

#Cabecera h1{
  text-shadow:2px 2px #02010a;
}

#Cabecera ul{
list-style-type: none;
text-align: right;
display: flex;
}
#Cabecera ul li{
  margin: 10px;
}
.imagencentral{
  text-align: center;
  background-color: #82c3a6;
}

.izquierda{
  flex-grow: 1;
  text-align:center;

}
.izquierda img{
  transform: rotate(0deg);
  transition: transform, 1s;
}
.derecha{
  flex-grow: 1;
  text-align: center;

}

.derecha img{
  transform: translate(0px,0px);
  transition: transform,1s;
}
.imagenessecundarias{
  background-color: #d5c75f;
  display: flex;
  border: 1px;
}

.izquierda img:hover{
  transform: rotate(10deg);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px #82c3a6;
  -moz-box-shadow:2px 2px #82c3a6;
}

.derecha img:hover{
  transform: translate(20px,-5px);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d6c5;
  display: flex;
}

footer .contacto ul{

}
