
body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010A;
  }

#Cabecera{
  border-radius: 10px 10px 0px 0px;
  background-color: #5b7989;
  color: white;
  display: flex;
}

.titulo{
    flex-grow: 1;
}

.titulo h1{
  text-shadow:2px 2px #02010a;
}

#Cabecera nav{
  flex-grow: 1;
}

#Cabecera nav ul{
list-style: none;
display: flex;
}
#Cabecera nav ul li{
  flex-grow: 1;
  text-align: center;
}

.contenido{
  width: 900px;
  margin: auto;
}
.imagencentral{
  background-color: #82c3a6;
}
.imagencentral img{
  width: 100%;
}

.izquierda{
  flex-grow: 1;
}
.izquierda img{
  transform: rotate(0deg);
  transition: transform, 1s;
  width: 100%;
}
.derecha{
  flex-grow: 1;
}

.derecha img{
  transform: translate(0px,0px);
  transition: transform,1s;
  width: 100%;
}
.imagenessecundarias{
  background-color: #d5c75f;
  display: flex;
  border: 1px;
  text-align: center;
}

.izquierda img:hover{
  transform: rotate(10deg);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
}

.derecha img:hover{
  transform: translate(20px,-5px);
  box-shadow:2px 2px 2px #82c3a6;
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  display: flex;
}
footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer div{
  flex-grow: 1;
}
footer ul li img{
  width: 20px;
}

img{
  box-shadow:2px 2px 2px #02010a;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
}
.Paisajes{
  display: flex;
  flex-wrap:wrap;
}
.Paisajes div{
  flex-grow: 1;
  width: 33.33%;
}
.Paisajes div img{
  width: 100%;
}
.AplicarBlur img{
  filter: blur(10px);
}
.AplicarGrises img{
  filter: grayscale(100%);
}
.AplicarSepia img{
  filter: sepia(90%);
}
@media (max-width:900px) {
  .contenido{
    width: 100%;
  }

  #Cabecera{
    flex-direction: column;
  }
  .titulo{
    width: 100%;
    text-align: center;
  }
  #Cabecera nav{
    width: 100%;
  }

  .imagenessecundarias{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
  }
  footer div{
    margin: 10px;
  }
  .Paisajes{
    flex-direction: column;
  }
  .Paisajes div{
    width: 100%;
  }
}
